<%= form_for(regional_unity) do |f| %>
  <% if regional_unity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regional_unity.errors.count, "error") %> prohibited this regional_unity from being saved:</h2>

      <ul>
      <% regional_unity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :region_id %>
    <%= f.text_field :region_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
