<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regional_unity.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @regional_unity.region %>
</p>

<%= link_to 'Edit', edit_regional_unity_path(@regional_unity) %> |
<%= link_to 'Back', regional_unities_path %>
